<div class="jumbotron bg-dark">
  <h1 class="display-4">WELCOME TO QUIZARD!</h1>
  <p class="lead">Quizard is a trivia style game</p>

</div>

<div class="container">
  <a class="btn btn-primary btn-lg" id="startBtn" href="#" role="button">Play Quizzard</a>
</div>
