<h1>Quizard!</h1>

<h2>Welcome to Quizard the fun Trivia Game</h2>

<h3>Sports Trivia</h3>

<ul>
    {{#sports sports}}

</ul>


<h3>History Trivia</h3>

<ul>
    {{#history history}}

</ul>

<h3>Cars Trivia</h3>

<ul>
    {{#cars cars}}

</ul>

<h3>Geography Trivia</h3>

    <ul>
        {{#geography geography}}
    </ul>

<h3>Random!</h3>

    <ul>
        {{#random random}}
    </ul>
