  <h1>
    <div class="container">
  <div class="jumbotron">
      
    <h1>WELCOME TO QUIZARD!</h1>
    </br>
    </br>
    
    <p>Quizard is jeopardy like game!</p>
    
  </div>

</h1>


<div class="rules">
<h2>Here are a few basic rules!</h2>
  <h5>Pick a catagory and a point value for the question you would like to try!</h5>
  <h5>The answer must be put in the form of a question!</h5>
  <h5>Have FUN!</h5>
</div>
  <div>
    <button id="start">
      Start
    </button>
  </div>

    </body>
</html>

