{{#each columns}}
    <div class="categoryHeader">{{category}}</div>
    {{#each questions}}
        <div class="question">{{pointValue}}</div>
        <div class="modal hidden">
            {{question}}
        </div>
    {{/each}}

{{/each}}