<div class="container">
<div class = "row"> 
{{#each columns}}
<div class ="col-2">
    <div class="container">
    <div class="row">
    <div class="categoryHeader col-12" >{{category}}</div>
    </div>
    {{#each questions}}
    <div class="row">
        <button id="questionBtn"class="question col-12">{{pointValue}}</button>
        
    </div>
    {{/each}}
    </div>
</div>
{{/each}}
</div>
</div>