.container{
    background-color: blanchedalmond;
    color: blue;
    text-align: center;
   
};
body{
    background-color: antiquewhite;
};
h1{
    color:antiquewhite;
}

.rules{
   color:blue;
   text-align: center;
}
button{
    background-color: aqua;
    position: center;
}
#start{
    background-color: orangered;
    margin-left: 49%;
    margin-right: 49%;
    
}